body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
.btn {
  color: black;
  background: #f6a704;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.4s all;
}
.btn:hover {
  background: black;
  color: #f6a704;
  border: 2px solid #f6a704;
}
.password-input {
  position: relative;
}
.password-icon {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.home-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-user {
  padding-right: 30px;
  font-size: 25px;
}
.logo {
  font-size: 16px;
  padding-left: 20px;
}
.logo-ed {
  font-weight: bold;
}
.logo-io {
  color: #f6a704;
  font-weight: bold;
}
/* navigation */
.navigation {
  width: 70px;
  height: 710px;
  background: #1b618c;
  border-radius: 0px 30px 30px 0px;
}
.nav-list {
  padding: 0;
  text-align: center;
}
.nav-list li {
  list-style: none;
}
.nav-list i {
  color: #fff;
  margin: 0 auto;
}
.nav-list a {
  display: block;
}
.nav-list li {
  position: relative;
  padding: 20px 0;
}
.current i {
  background: #fff;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 2px;
  color: #1b618c;
  padding: 8px;
}

.tooltiptext {
  display: none;
  color: #06529c;
  font-size: 14px;
  background: #e5edf5;
  box-shadow: 0px 3px 6px #00000029;
  padding: 5px 20px;
  border-radius: 20px;
}
.nav-list li:hover .tooltiptext {
  display: inline-block;
}
.tooltiptext {
  position: absolute;
  left: 50px;
  top: 20px;
}
/* navbar end */
.main-wrapper {
  display: flex;
  margin: 0 auto;
  /* padding: 0 10px; */
}
.navbar {
  flex: 0 0 7%;
  max-width: 7%;
}
.main {
  flex: 0 0 93%;
  max-width: 93%;
}

/* -----heading------ */
.page-heading {
  font-size: 18px;
  font-weight: normal;
  padding-top: 15px;
}
.page-content {
  max-width: calc(100% - 30px);
  box-shadow: 0px 0px 6px #00000014;
  margin-bottom: 10px;
}
.dashobard-container {
  box-shadow: 0px 0px 6px #00000014;
  height: 90%;
  margin-right: 30px;
}

/* toaster message */
.toaster-wrapper {
  display: none;
}
.toaster-meassage {
  position: absolute;
  right: 0;
  top: 90vh;
  margin-right: 30px;
  background: #cddceb;
  width: 100%;
  margin-bottom: 10px;
  max-width: 350px;
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
  color: #343434;
  font-size: 14px;
  font-weight: normal;
}
